<!DOCTYPE html>
<html>
<head>
  <title>PostEcpal</title>
  <%= stylesheet_link_tag :style %>
  <%= javascript_include_tag "json2" %>
  <%= javascript_include_tag "jquery-min" %>
  <%= javascript_include_tag "underscore" %>
  <%= javascript_include_tag "backbone" %>
  <%= stylesheet_link_tag :abc%>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <div id="content">
        <%= yield %>
    </div>
</div>
</body>
</html>
